body {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    justify-content:center;
    line-height: 30px
}

header {
display: flex;
height: 140px;
background-color:black
}

.logo {
  display: flex;
}

.titulo {
  color: white;
  font-size: 40px;
  padding-top: 40px;
}

.mad_explicacion  {
text-align: center;
padding-top: 20px;
font-size: 30px;
}


.mad_circulo p {
  padding:10px;
  margin: 20px;
}

.mad_circulo img {
  float: left;
  padding: 20px;
  width: 300px;
  height: 279px;
  border-radius: 50%;
}

.parrafo1 h2 {
  color: red;
  text-align: center;
  font-size: 30px;
  padding-top: 50px;
}


  .contact_form{	
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color:#f4fafb;
  }
    
  input {
    background-color: #fbfbfb; 
    width: 300px; 
    height: 50px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  textarea{
    background-color: #fbfbfb; 
    width: 300px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  label {
    display: block; 
    float: center; 	
  }
  
  button {
    height: 50px; 
    padding-left: 5px;
    padding-right: 5px;
    width: 200px;	
    margin-bottom: 20px; 
    margin-top: 10px; 	
    text-transform: uppercase;
    background-color: rgb(243, 70, 74);
    border-style: solid; 
    border-radius: 10px;	   
    cursor: pointer;
    background-position: 0 0;
    background-size: 100%;
 
  }
   
  span{
    color: red;
  }
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
  }
  
  h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: #0e0e0e;   
  }
  
  p {
    font-size: 14px; 
    color: #0e0e0e; 
  }

  .presentacion h1 {
    color: red;
    font-size: 35px;
    padding-top: 100px;
  }
  
  .presentacion h3 {
   padding-bottom: 70px;
    font-size: 25px;
    text-align: center;
  }
  
  .presentacion h2 {
    text-align: center;
    font-size: 30px; 
    padding: 10px;
    margin: 10px;
    padding-bottom: 50px;  
  }
  
  .presentacion img {
    float: left;
    padding: 10px;
    max-width: 100%;
  }

  .corazon svg {
    float: left;
    padding: 50px;
  }
  
  .svg-animation {
    width: 227px;
    height: 227px;
    padding-bottom: 40px;
    margin: auto;
    top: 0; bottom: 0;
    right: 0; left: 0;
  }
  
  .svg-animation img {
    top: 3px; left: 5px;
    border-radius: 50%;
    overflow: hidden;
    width: 211px;
    height: 212px;
    z-index: 3;
    opacity: 1;
    animation: photo-ani 4s forwards;
  }
  
  .svg-animation-line {
    z-index: 2;
  }
  
  .line {
    fill: none;
    stroke: #fff;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: line-ani 5.5s forwards;
  }
  
  .circle {
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation:line-ani 3s forwards;
  }
  
 
  @keyframes line-ani {
    to {
      stroke-dashoffset: 0;
    } 
  }
  @keyframes photo-ani {
    0% {
      opacity: 0; 
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
.sitios img {
 float:left;
 max-width: 100%;
 align-content:center;
 padding: 10px; 
}

h1 {
  text-align: center;
  font-size: 25px;
}

.titulo_sitios {
  background-color:red;
  padding: 10px;
}

.sitios h2 {
  clear: both;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

.sitios p {
  font-size: 15px; 
  justify-content: center;
  animation-duration: 3s;
  animation-name: slidein;
}

.ultimo_sitio p {
  padding-bottom: 130px;
  margin-bottom: 60px;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.sitios a {
  text-decoration: none;
  color: black;
}

.museo_del_prado {
  margin:20px;
}

.sabermas input {
  width:150px;
  font-size: 18px;
}
.museo_del_prado img {
  float: right;
  max-width: 100%;
  width: 400px;
  padding-bottom: 30px;
  padding: 10px;
}

.museo_del_prado p {
  padding: 30px;
  margin:20px;
  font-size:20px;
  justify-content: center;
}

.puerta_velazquez {
  margin: 20px;
}

.puerta_velazquez img {
  float: left;
  max-width: 100%;
  padding: 20px;
}

.puerta_velazquez p{
  margin: 10px;
  font-size:20px; 
  clear: both;
  padding: 30px;
  line-height: 30px;
}

.otros_museos h2 {
  text-align: center;
  padding: 20px;
  clear: both;
}

img.izquierda {
  float: left;
  width: 200px;
  max-width: 100%;
  padding: 5px;
}

img.derecha {
  float: right;
  width: 200px;
  max-width: 100%;
  padding: 5px;
}

.parrafo_museo {
  padding-bottom:10px;
  margin: 40px;
}

.parrafo_museo h2 {
  clear: both;
  padding-top: 10px;
  text-align: center;
}

.parrafo_museo p {
  font-size: 20px;
}

li {
  padding: 10px;
}

ul a {
  text-decoration: none;
  color: #0e0e0e;
}

  footer {
    bottom: 0px;
    width: 100%;
    background: #111;
    color: beige;
    text-align: center;
    height: 200px;
    }

  .main-content{
    display: flex;
    padding-top:20px;
  }

  .main-content .box{
    flex-basis: 30%;
    width: 49px;
    height: 49px;
  }

   .main-content a {
    display: inline-block;
    position: relative;
    color:white ;
    text-decoration: none;
    font-size: 20px;
    }

    a:after {
    content: "";
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    transition: all .8s;
    }

    a:hover:after {
    width: 100%;
    background: white;
    }

   a:hover {
    color: red;
  }

@media screen and (max-width: 900px) {
  footer{
    position: relative;
    bottom: 0px;
  }
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }

}


